<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="LokiCheckout\Core\Component\Checkout\Billing\PaymentMethods\PaymentMethodsRepository">
        <plugin name="LokiCheckout_Mollie::overrideDefaultPayment"
                type="LokiCheckout\Mollie\Plugin\OverrideDefaultPaymentPlugin"/>
    </type>

    <type name="LokiCheckout\Core\Payment\Icon\IconResolverListing">
        <arguments>
            <argument name="iconResolvers" xsi:type="array">
                <item name="mollie" xsi:type="object">LokiCheckout\Mollie\Payment\Icon\IconResolver</item>
            </argument>
        </arguments>
    </type>

    <type name="LokiCheckout\Core\Payment\Redirect\RedirectResolverListing">
        <arguments>
            <argument name="redirectResolvers" xsi:type="array">
                <item name="mollie" xsi:type="object">LokiCheckout\Mollie\Payment\Redirect\RedirectResolver</item>
            </argument>
        </arguments>
    </type>

    <type name="LokiCheckout\Core\Plugin\RedirectEmptyQuoteAfterRepositoryDispatchPlugin">
        <arguments>
            <argument name="allowedExceptionClasses" xsi:type="array">
                <item name="mollie" xsi:type="string">Mollie\Api\Exceptions\ApiException</item>
            </argument>
        </arguments>
    </type>

    <type name="Mollie\Payment\Model\Methods\CreditcardVault">
        <plugin name="LokiCheckout_Mollie::overrideCreditcardVaultTitle" type="LokiCheckout\Mollie\Plugin\OverrideCreditcardVaultTitlePlugin"/>
    </type>
</config>
